<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome</th>
        <th scope="col">Email</th>
        <th scope="col">Escolaridade</th>
        <th scope="col">Histórico</th>
        <th>&nbsp</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <th scope="row">{{user.id}}</th>
        <td>{{user.name}}</td>
        <td>{{user.email}}</td>
        <td>{{user.scholarity}}</td>
        <td>{{user.schoolHistoryName}}</td>
        <td>
            <button type="button" (click)="confirmRemoveUser(user)" class="btn btn-sm btn-danger">Remover</button>
            &nbsp;
            <button type="button" 
            (click)="editRegister(user)"
            class="btn btn-sm btn-warning">Editar</button>

       
        </td>
      </tr>
     
    </tbody>
  </table>